* {
  margin: 0;
  padding: 0;
}
:root {
  --darkBlue: hsl(243, 87%, 12%);
  --blue: hsl(238, 22%, 44%);
  --brightBlue: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);
  --grayBlue: hsl(240, 75%, 98%);
  --gray: hsl(0, 0%, 75%);
  --darkGrey: #615f7e;
  --open: "Open Sans", sans-serif;
  --raleway: "Raleway", sans-serif;
}
body {
  width: 100%;
  font-family: var(--open);
  color: var(--darkBlue);
}
nav {
  width: 85%;
  margin: 24px auto 98px;
  display: flex;
  justify-content: space-between;
}
nav img {
  width: 25%;
}
nav div {
  font-family: var(--raleway);
  font-size: 12px;
}
nav div a {
  margin-left: 24px;
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: column-reverse;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
header img {
  width: 100%;
}
h1 {
  margin-bottom: 24px;
  font-family: var(--raleway);
  font-size: 24px;
  line-height: 36px;
}
.text > p {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 21px;
}
.mail {
  position: relative;
  width: 95%;
  max-width: 500px;
  height: 40px;
  margin: 0 auto;
  border: 2px solid var(--gray);
  border-radius: 3px;
  text-align: left;
}
.mail p:first-child {
  padding-left: 21px;
  font-size: 12px;
  line-height: 40px;
  color: var(--gray);
}
.mail p:nth-child(2),
.mail p:last-child {
  display: none;
}
.text a {
  display: inline-block;
  width: 95%;
  padding: 12px 0;
  margin: 16px auto 90px;
  background-color: var(--brightBlue);
  border-radius: 3px;
  font-family: var(--raleway);
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  color: white;
}
.picture {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  font-size: 0;
}
.stay-productive {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background-color: var(--grayBlue);
  text-align: center;
}
.stay-productive > div > img {
  width: 80%;
  margin: 40px auto 87px;
}
.text-productive {
  margin: 0 auto;
  width: 85%;
}
.text-productive h2 {
  margin-bottom: 24px;
  font-family: var(--raleway);
  font-size: 16px;
}
.text-productive p {
  font-size: 14px;
  margin-bottom: 16px;
  color: var(--darkGrey);
}
.text-productive a {
  display: inline-block;
  margin: 36px auto 40px;
  padding-bottom: 4px;
  font-size: 12px;
  color: var(--cyan);
  text-decoration: none;
  border-bottom: 1px solid var(--cyan);
}
.text-productive > a > img {
  height: 12px;
  width: 12px;
  transform: translateY(+25%);
}
.quote {
  box-sizing: border-box;
  width: 85%;
  margin: 0 auto 81px;
  padding: 12px 12px 19px 26px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
  text-align: left;
}
.quote p {
  margin-bottom: 9px;
  font-size: 10px;
  line-height: 18px;
  color: var(--darkBlue);
}
.quote img {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.quote > div {
  display: inline-block;
  transform: translateY(-5%);
}
.quote h3 {
  font-size: 9px;
}
.quote div p {
  margin-top: -2px;
  font-size: 6px;
}
.early-access {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--blue);
  padding: 54px 48px 71px;
  text-align: center;
  color: white;
}
.early-access h2 {
  margin-bottom: 16px;
  font-family: var(--raleway);
  font-size: 18px;
}
.early-access p {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 21px;
}
.get-started {
  position: relative;
  margin: 0 auto 8px;
  width: 80%;
  max-width: 350px;
  height: 32px;
  background-color: white;
  border-radius: 3px;
}
.get-started p {
  position: absolute;
}
.get-started p:nth-child(2),
.get-started p:nth-child(3) {
  display: none;
}
.get-started p:first-child {
  padding-left: 8px;
  font-size: 10px;
  color: var(--gray);
  line-height: 32px;
}
.early-access a {
  display: inline-block;
  width: 80%;
  max-width: 350px;
  height: 32px;
  background-color: var(--brightBlue);
  font-family: var(--raleway);
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  line-height: 32px;
}
footer {
  box-sizing: border-box;
  width: 100%;
  padding: 65px 40px 20px;
  background-color: var(--darkBlue);
  color: white;
}
footer > div > img {
  margin-bottom: 32px;
  width: 30%;
}
.information {
  display: flex;
  flex-direction: column;
}
.phone-mail p {
  margin-bottom: 16px;
  width: 100%;
  font-size: 16px;
}
.phone-mail img {
  margin-right: 16px;
  width: 16px;
  height: auto;
}
.about,
.contact {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.about a,
.contact a {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.social {
  width: 100%;
  text-align: center;
}
.social a {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 9px 42px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
}
.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(+55%, -50%);
  font-size: 13px;
  color: white;
}
.frontend {
  font-size: 10px;
  text-align: center;
}
.frontend a {
  text-decoration: none;
  color: white;
}
@media (min-width: 1024px) {
  nav {
    margin: 65px auto 86px;
    max-width: 1440px;
  }
  nav img {
    width: 15%;
  }
  nav div {
    font-size: 16px;
  }
  nav div a {
    margin-left: 57px;
  }
  header {
    flex-direction: row;
    align-items: center;
    margin-bottom: 164px;
    width: 85%;
    max-width: 1440px;
    text-align: left;
  }
  header img {
    width: 100%;
  }
  h1 {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 60px;
  }
  .text {
    width: 100%;
    margin-right: 30px;
  }
  .text > p {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 21px;
  }
  .mail {
    position: relative;
    display: inline-block;
    width: 50%;
    max-width: 320px;
    height: 45px;
    margin: 0 0;
  }
  .mail p:first-child {
    line-height: 45px;
  }
  .mail p:nth-child(2),
  .mail p:last-child {
    position: absolute;
    font-size: 14px;
    display: none;
  }
  .mail p:nth-child(2) {
    top: +25%;
    left: 16px;
  }
  .mail p:last-child {
    color: red;
  }
  .text a {
    width: 30%;
    max-width: 200px;
    padding: 0px 0;
    height: 45px;
    margin: 0 0 0 16px;
    line-height: 45px;
  }
  .text a:hover p:nth-child(2),
  .text a:hover p:last-child {
    display: block;
  }
  .picture {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 0;
  }
  .stay-productive {
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: left;
  }
  .stay-productive > div > img {
    width: 90%;
  }
  .text-productive {
    margin: 0 50px;
  }
  .text-productive h2 {
    margin-bottom: 38px;
    font-size: 40px;
  }
  .text-productive p {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .text-productive a {
    margin: 15px auto 45px;
    padding-bottom: 4px;
    font-size: 16px;
  }
  .text-productive a:hover {
    color: #71dfcc;
    border: 1px solid #71dfcc;
  }
  .text-productive > a > img {
    height: 15px;
    width: 15px;
  }
  .quote {
    box-sizing: border-box;
    width: 60%;
    max-width: 356px;
    margin: 0 0 107px;
    padding: 26px 34px;
  }
  .quote > img:first-of-type {
    width: 18px;
    height: 18px;
  }
  .quote p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 23px;
  }
  .quote > div > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .quote > div {
    display: inline-block;
    transform: translateY(-5%);
  }
  .quote h3 {
    font-size: 11px;
  }
  .quote div p {
    margin-top: -4px;
    font-size: 8px;
  }
  .early-access {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 322px;
    padding: 0 0 0 0;
    text-align: left;
  }
  .text-early {
    width: 40%;
    margin: 10%;
  }
  .early-access h2 {
    margin-bottom: 17px;
    font-size: 32px;
  }
  .early-access p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }
  .get-started-all {
    width: 40%;
    margin: 10%;
  }
  .get-started {
    margin: 0 0 16px;
    max-width: 480px;
    height: 48px;
  }
  .get-started p:nth-child(2),
  .get-started p:nth-child(3) {
    display: none;
  }
  .get-started p:first-child {
    padding-left: 16px;
    font-size: 12px;
    line-height: 48px;
  }
  .early-access a {
    width: 80%;
    max-width: 200px;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
  }
  footer {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 92px auto 86px 80px;
  }
  footer > div > img {
    margin-bottom: 36px;
    width: 15%;
  }
  .information {
    display: flex;
    flex-direction: row;
  }
  .phone-mail {
    width: 25%;
  }
  .phone-mail p {
    margin-bottom: 16px;
    width: 100%;
    font-size: 16px;
  }
  .about,
  .contact {
    width: 25%;
    margin-top: 0;
  }
  .social {
    display: flex;
    width: 25%;
    text-align: center;
  }
  .social a {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 9px 42px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
  }
  .fa-facebook-f,
  .fa-twitter,
  .fa-instagram {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(+55%, -50%);
    font-size: 13px;
    color: white;
  }
  .frontend {
    font-size: 10px;
    text-align: center;
  }
  .frontend a {
    text-decoration: none;
    color: white;
  }
}
